@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

div.layout {
  background: Red;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;

  main {
    padding: 20px;
    background: White;
  }
}
